In [9]:
# youngho/nare

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "youngho"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()
cursor.execute("SELECT REST_ID , REVIEW , LABEL_TF from REVIEW_COLLECT;")

# 1개 row만 가져오기
# row = cursor.fetchone()
# 모든 row 가져오기
row = cursor.fetchall()
# while row :
#     print(row[0])
#     row = cursor.fetchone()
#     # row = cursor.fetchall()
# print(row)

cnxn.commit()
cnxn.close()

In [12]:
len(row)

60000

In [144]:
# 데이터 정리하기 to tibero
import pandas as pd
import numpy as np 
data4 = pd.read_excel('제주특별자치도_제주시_연동_긍부정판단_04.xlsx')
data4.head()

,리뷰,리뷰이미지url,작성자프로필,My플레이스,작성자이름,리뷰작성수,리뷰작성일,식당방문수,리뷰인증방식,식당id,사업장명,label
0,좋아요,NaN,https://g-place.pstatic.net/assets/shared/imag...,https://m.place.naver.com/my/5e02c9a88f87a842b...,hoby3981,"['리뷰 853', '사진 98', '팔로워 4']",2023년 5월 5일 금요일,1번째 방문,영수증,1715382361,로미파스타,2
1,피낫버터랑 쿠키앤크림 맛있어요~,NaN,https://g-place.pstatic.net/assets/shared/imag...,https://m.place.naver.com/my/5b86e1cd5db412cab...,한슐랭의 맛있는길,"['리뷰 70', '사진 19', '팔로워 2']",2023년 5월 4일 목요일,1번째 방문,영수증,1715382361,로미파스타,2
2,좋아요,NaN,https://g-place.pstatic.net/assets/shared/imag...,https://m.place.naver.com/my/5ee1c1c58f87a842b...,tuddktkfkd663,"['리뷰 76', '사진 1']",2023년 4월 29일 토요일,1번째 방문,영수증,1715382361,로미파스타,2
3,굿,NaN,https://g-place.pstatic.net/assets/shared/imag...,https://m.place.naver.com/my/5e44d4818f87a842b...,힐링031,"['리뷰 236', '사진 62', '팔로워 2']",2023년 4월 22일 토요일,1번째 방문,영수증,1715382361,로미파스타,2
4,굿,NaN,https://g-place.pstatic.net/assets/shared/imag...,https://m.place.naver.com/my/5d4e0f7906aeb50e2...,에이스656,"['리뷰 262', '사진 16']",2023년 4월 16일 일요일,1번째 방문,영수증,1715382361,로미파스타,2

In [132]:
data4.columns

Index(['리뷰', '리뷰이미지url', '작성자프로필', 'My플레이스', '작성자이름', '리뷰작성수', '리뷰작성일',
       '식당방문수', '리뷰인증방식', '식당id', '사업장명', 'label'],
      dtype='object')

In [146]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17509 entries, 0 to 17508
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   리뷰        17509 non-null  object
 1   리뷰이미지url  6386 non-null   object
 2   작성자프로필    17509 non-null  object
 3   My플레이스    17509 non-null  object
 4   작성자이름     17509 non-null  object
 5   리뷰작성수     17509 non-null  object
 6   리뷰작성일     17509 non-null  object
 7   식당방문수     17509 non-null  object
 8   리뷰인증방식    17509 non-null  object
 9   식당id      17509 non-null  int64
 10  사업장명      17509 non-null  object
 11  label     17509 non-null  int64
 12  tf        17509 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.7+ MB

In [145]:
def tf(label) :
    if label == 0:
        return 'T'
    else :
        return 'F'
    
data4['tf'] = data4['label'].apply(tf)

In [43]:
len(data4)

17509

In [42]:
columns = data4.columns.tolist()
len(columns)

13

In [143]:
# create table

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()
# cursor.execute("\
# CREATE TABLE REVIEW_COLLECT (\
#     REVIEW VARCHAR(5000),\
#     RE_IM_URL VARCHAR(9000),\
#     PROFILE VARCHAR(600),\
#     MY_PLACE VARCHAR(100),\
#     WRITER VARCHAR(30),\
#     WRITE_COUNT VARCHAR(40),\
#     WRITE_DAY VARCHAR(20),\
#     VISIT_COUNT VARCHAR(10),\
#     PAY_METHOD VARCHAR(5),\
#     REST_ID NUMBER,\
#     REST_NAME VARCHAR(50),\
#     LABEL NUMBER,\
#     LABEL_TF VARCHAR(2)\
# ) TABLESPACE USR PCTFREE 10 INITRANS 2 STORAGE (MAXEXTENTS UNLIMITED) LOGGING NOPARALLEL;")


# print(row)

cnxn.commit()
cnxn.close()

In [66]:
# 칼럼 이름들 가져오기

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()

# # 테이블 전체 조회
# query = "SELECT * FROM ALL_TAB_COMMENTS;"
# cursor.execute(query)
# table_all = cursor.fetchall()

table_name = 'REVIEW_COLLECT'  # 테이블 이름

# 테이블의 칼럼 목록 가져오기
query = f"SELECT * FROM ALL_COL_COMMENTS WHERE TABLE_NAME = '{table_name}';"
cursor.execute(query)
table_columns = cursor.fetchall()

# 테이블 상세 정보
query2 = f"SELECT * FROM ALL_TAB_COLUMNS WHERE TABLE_NAME = '{table_name}'"; 
cursor.execute(query2)
table_info = cursor.fetchall()



cnxn.commit()
cnxn.close()

In [68]:
table_columns

[('HYEMIN', 'REVIEW_COLLECT', 'MY_PLACE', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'PAY_METHOD', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'PROFILE', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'REST_ID', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'REST_NAME', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'REVIEW', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'RE_IM_URL', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'VISIT_COUNT', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITER', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITE_COUNT', None),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITE_DAY', None),
 ('JH', 'REVIEW_COLLECT', 'LABEL', None),
 ('JH', 'REVIEW_COLLECT', 'LABEL_TF', None),
 ('JH', 'REVIEW_COLLECT', 'MY_PLACE', None),
 ('JH', 'REVIEW_COLLECT', 'PAY_METHOD', None),
 ('JH', 'REVIEW_COLLECT', 'PROFILE', None),
 ('JH', 'REVIEW_COLLECT', 'REST_ID', None),
 ('JH', 'REVIEW_COLLECT', 'REST_NAME', None),
 ('JH', 'REVIEW_COLLECT', 'REVIEW', None),
 ('JH', 'REVIEW_COLLECT', 'RE_IM_URL', None),
 ('JH', 'REVIEW_COLLECT', 'VISIT_COUNT', None),
 ('JH', 'REVIEW_COLLECT', 'WRITER', None),
 ('JH', 'REVIEW_COLLECT', 'WRITE_COUNT', None),
 ('JH', 'REVIEW_COLLECT', 'WRITE_DAY', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'LABEL', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'LABEL_TF', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'MY_PLACE', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'PAY_METHOD', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'PROFILE', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'REST_ID', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'REST_NAME', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'REVIEW', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'RE_IM_URL', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'VISIT_COUNT', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITER', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITE_COUNT', None),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITE_DAY', None)]

In [84]:
iloc[2]

'MY_PLACE'

In [86]:
# 컬럼만 추출하기

tcolumn_lst = []
for iloc in table_columns :
    tcolumn_lst.append(iloc[2])

In [94]:
tcolumn_lst = list(set(tcolumn_lst))
tcolumn_lst

['LABEL_TF',
 'REST_ID',
 'REVIEW',
 'WRITE_COUNT',
 'MY_PLACE',
 'WRITER',
 'RE_IM_URL',
 'REST_NAME',
 'WRITE_DAY',
 'LABEL',
 'PROFILE',
 'PAY_METHOD',
 'VISIT_COUNT']

In [69]:
table_info

[('YOUNGHO', 'REVIEW_COLLECT', 'REVIEW', 'VARCHAR', None, 5000.0, 0.0, 0.0, 'Y', 0.0, None, None, 5000.0, 5000.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'RE_IM_URL', 'VARCHAR', None, 9000.0, 0.0, 0.0, 'Y', 1.0, None, None, 9000.0, 9000.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'PROFILE', 'VARCHAR', None, 600.0, 0.0, 0.0, 'Y', 2.0, None, None, 600.0, 600.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'MY_PLACE', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 3.0, None, None, 300.0, 300.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITER', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 4.0, None, None, 300.0, 300.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITE_COUNT', 'VARCHAR', None, 40.0, 0.0, 0.0, 'Y', 5.0, None, None, 40.0, 40.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'WRITE_DAY', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 6.0, None, None, 300.0, 300.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'VISIT_COUNT', 'VARCHAR', None, 10.0, 0.0, 0.0, 'Y', 7.0, None, None, 10.0, 10.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'PAY_METHOD', 'VARCHAR', None, 5.0, 0.0, 0.0, 'Y', 8.0, None, None, 5.0, 5.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'REST_ID', 'NUMBER', None, 22.0, None, None, 'Y', 9.0, None, None, 22.0, 0.0, None, 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'REST_NAME', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 10.0, None, None, 300.0, 300.0, 'C', 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'LABEL', 'NUMBER', None, 22.0, None, None, 'Y', 11.0, None, None, 22.0, 0.0, None, 'N', 2733.0),
 ('YOUNGHO', 'REVIEW_COLLECT', 'LABEL_TF', 'VARCHAR', None, 2.0, 0.0, 0.0, 'Y', 12.0, None, None, 2.0, 2.0, 'C', 'N', 2733.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'REVIEW', 'VARCHAR', None, 15000.0, 0.0, 0.0, 'Y', 0.0, None, None, 15000.0, 15000.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'RE_IM_URL', 'VARCHAR', None, 9000.0, 0.0, 0.0, 'Y', 1.0, None, None, 9000.0, 9000.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'PROFILE', 'VARCHAR', None, 600.0, 0.0, 0.0, 'Y', 2.0, None, None, 600.0, 600.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'MY_PLACE', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 3.0, None, None, 300.0, 300.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITER', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 4.0, None, None, 300.0, 300.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITE_COUNT', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 5.0, None, None, 300.0, 300.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'WRITE_DAY', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 6.0, None, None, 300.0, 300.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'VISIT_COUNT', 'VARCHAR', None, 10.0, 0.0, 0.0, 'Y', 7.0, None, None, 10.0, 10.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'PAY_METHOD', 'VARCHAR', None, 15.0, 0.0, 0.0, 'Y', 8.0, None, None, 15.0, 15.0, 'C', 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'REST_ID', 'NUMBER', None, 22.0, None, None, 'Y', 9.0, None, None, 22.0, 0.0, None, 'N', 2728.0),
 ('HYEMIN', 'REVIEW_COLLECT', 'REST_NAME', 'VARCHAR', None, 300.0, 0.0, 0.0, 'Y', 10.0, None, None, 300.0, 300.0, 'C', 'N', 2728.0),
 ('JH', 'REVIEW_COLLECT', 'REVIEW', 'VARCHAR', None, 5000.0, 0.0, 0.0, 'Y', 0.0, None, None, 5000.0, 5000.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'RE_IM_URL', 'VARCHAR', None, 9000.0, 0.0, 0.0, 'Y', 1.0, None, None, 9000.0, 9000.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'PROFILE', 'VARCHAR', None, 600.0, 0.0, 0.0, 'Y', 2.0, None, None, 600.0, 600.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'MY_PLACE', 'VARCHAR', None, 100.0, 0.0, 0.0, 'Y', 3.0, None, None, 100.0, 100.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'WRITER', 'VARCHAR', None, 30.0, 0.0, 0.0, 'Y', 4.0, None, None, 30.0, 30.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'WRITE_COUNT', 'VARCHAR', None, 40.0, 0.0, 0.0, 'Y', 5.0, None, None, 40.0, 40.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'WRITE_DAY', 'VARCHAR', None, 20.0, 0.0, 0.0, 'Y', 6.0, None, None, 20.0, 20.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'VISIT_COUNT', 'VARCHAR', None, 10.0, 0.0, 0.0, 'Y', 7.0, None, None, 10.0, 10.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'PAY_METHOD', 'VARCHAR', None, 5.0, 0.0, 0.0, 'Y', 8.0, None, None, 5.0, 5.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'REST_ID', 'NUMBER', None, 22.0, None, None, 'Y', 9.0, None, None, 22.0, 0.0, None, 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'REST_NAME', 'VARCHAR', None, 50.0, 0.0, 0.0, 'Y', 10.0, None, None, 50.0, 50.0, 'B', 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'LABEL', 'NUMBER', None, 22.0, None, None, 'Y', 11.0, None, None, 22.0, 0.0, None, 'N', 2773.0),
 ('JH', 'REVIEW_COLLECT', 'LABEL_TF', 'VARCHAR', None, 2.0, 0.0, 0.0, 'Y', 12.0, None, None, 2.0, 2.0, 'B', 'N', 2773.0)]

In [ ]:
sql = f"INSERT INTO your_table_name (column1, column2, ...) VALUES ({row['column1']}, {row['column2']}, ...)"

In [49]:
columns_str = ', '.join(columns)
columns_str

'리뷰, 리뷰이미지url, 작성자프로필, My플레이스, 작성자이름, 리뷰작성수, 리뷰작성일, 식당방문수, 리뷰인증방식, 식당id, 사업장명, label, tf'

In [135]:
data4.식당id = data4.식당id.astype(str)

In [137]:
data4.label = data4.label.astype(str)

In [166]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17509 entries, 0 to 17508
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   리뷰        17509 non-null  object
 1   리뷰이미지url  6386 non-null   object
 2   작성자프로필    17509 non-null  object
 3   My플레이스    17509 non-null  object
 4   작성자이름     17509 non-null  object
 5   리뷰작성수     17509 non-null  object
 6   리뷰작성일     17509 non-null  object
 7   식당방문수     17509 non-null  object
 8   리뷰인증방식    17509 non-null  object
 9   식당id      17509 non-null  int64
 10  사업장명      17509 non-null  object
 11  label     17509 non-null  int64
 12  tf        17509 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.7+ MB

In [96]:
print(len(columns))
print(len(tcolumn_lst))

13
13

In [158]:
for row in data4[:1].itertuples(index=False):
    # print(len(row))
    # print(type(row))
    # print(tuple(row))
    # print(*row)
    print()
    print(row[5])
    print(f'{row[0]},{row[1]},{row[2]},{row[3]},{row[4]},{row[5]},{row[6]},{row[7]},{row[8]},{row[9]},{row[10]},{row[11]},{row[12]}')

['리뷰 853', '사진 98', '팔로워 4']
좋아요,nan,https://g-place.pstatic.net/assets/shared/images/icon_default_profile.png,https://m.place.naver.com/my/5e02c9a88f87a842bc9a2cc9/review?v=2,hoby3981,['리뷰 853', '사진 98', '팔로워 4'],2023년 5월 5일 금요일,1번째 방문,영수증,1715382361,로미파스타,2,F

In [112]:
str_columns = ', '.join(columns)
str_columns

'리뷰, 리뷰이미지url, 작성자프로필, My플레이스, 작성자이름, 리뷰작성수, 리뷰작성일, 식당방문수, 리뷰인증방식, 식당id, 사업장명, label, tf'

In [113]:
str_tcolumns = ', '.join(tcolumn_lst)el, tf'
str_tcolumns

'LABEL_TF, REST_ID, REVIEW, WRITE_COUNT, MY_PLACE, WRITER, RE_IM_URL, REST_NAME, WRITE_DAY, LABEL, PROFILE, PAY_METHOD, VISIT_COUNT'

In [156]:
len(row)

13

In [ ]:
'리뷰, 리뷰이미지url, 작성자프로필, My플레이스, 작성자이름, 리뷰작성수, 리뷰작성일, 식당방문수, 리뷰인증방식, 식당id, 사업장명, label, tf'

In [182]:
# DSNNAME = "Tibero6"
# DBUSER = "JH"
# DBPWD = "nare"

# cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
# cursor = cnxn.cursor()

# # 테이블에 데이터프레임 삽입
# # itertuples 데이터프레임을 한 줄 씩!
# for row in data4.itertuples(index=False):
#     query = f"INSERT INTO REVIEW_COLLECT (REVIEW, RE_IM_URL, PROFILE, MY_PLACE, WRITER, WRITE_COUNT, WRITE_DAY, VISIT_COUNT, PAY_METHOD, REST_ID, REST_NAME, LABEL, LABEL_TF) " \
#             f"VALUES ({str(row[0])},{str(row[1])},{str(row[2])},{str(row[3])},{str(row[4])},{str(row[5])},{str(row[6])},{str(row[7])},{str(row[8])},{int(row[9])},{str(row[10])},{int(row[11])},{str(row[12])})"
#     cursor.execute(query)

# # # 테이블에 데이터프레임 삽입
# # for row in data4.itertuples(index=False):
# #     query = "INSERT INTO REVIEW_COLLECT (REVIEW, RE_IM_URL, PROFILE, MY_PLACE, WRITER, WRITE_COUNT, WRITE_DAY, VISIT_COUNT, PAY_METHOD, REST_ID, REST_NAME, LABEL, LABEL_TF) " \
# #             "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
# #     print(type(row[1]))
# #     cursor.execute(query, *row)

# # 테이블에 데이터프레임 삽입
# # for row in data4.itertuples(index=False):
# #     query = "INSERT INTO REVIEW_COLLECT (REVIEW, RE_IM_URL, PROFILE, MY_PLACE, WRITER, WRITE_COUNT, WRITE_DAY, VISIT_COUNT, PAY_METHOD, REST_ID, REST_NAME, LABEL, LABEL_TF) " \
# #             "VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"
# #     cursor.execute(query, row.리뷰, row.리뷰이미지url, row.작성자프로필, row.My플레이스, row.작성자이름, row.리뷰작성수, row.리뷰작성일, row.식당방문수, row.리뷰인증방식, row.식당id, row.사업장명, row.label, row.tf)


# cnxn.commit()
# cnxn.close()

In [183]:
# 빈도 분석

# youngho/nare

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "youngho"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()
cursor.execute("SELECT REST_ID , REVIEW , LABEL_TF from REVIEW_COLLECT;")

# 1개 row만 가져오기
# row = cursor.fetchone()
# 모든 row 가져오기
row = cursor.fetchall()
# while row :
#     print(row[0])
#     row = cursor.fetchone()
#     # row = cursor.fetchall()
# print(row)

cnxn.commit()
cnxn.close()

In [185]:
len(row)

60000

In [224]:
row_4 = data4[['식당id' , '리뷰' , 'tf']]
row_4= row_4.rename(columns={'식당id' : 'REST_ID' , '리뷰' : 'REVIEW' , 'tf' : 'LABEL_TF'})

In [225]:
########### INSERT!

row_4

          REST_ID             REVIEW LABEL_TF
0      1715382361                좋아요        F
1      1715382361  피낫버터랑 쿠키앤크림 맛있어요~        F
2      1715382361                좋아요        F
3      1715382361                  굿        F
4      1715382361                  굿        F
...           ...                ...      ...
17504  1971746359               친절해요        F
17505  1971746359               친절해요        F
17506  1971746359                  굿        F
17507  1971746359           대화하기 좋아요        F
17508  1971746359                  굿        F

[17509 rows x 3 columns]

In [ ]:
'리뷰, 리뷰이미지url, 작성자프로필, My플레이스, 작성자이름, 리뷰작성수, 리뷰작성일, 식당방문수, 리뷰인증방식, 식당id, 사업장명, label, tf'

In [188]:
lst_row_01 = []
lst_row_02 = []
lst_row_03 = []
for i in row :
    lst_row_01.append(i[0])
    lst_row_02.append(i[1])
    lst_row_03.append(i[2])

In [189]:
row_frm = pd.DataFrame({'REST_ID' : lst_row_01 , 'REVIEW' : lst_row_02 , 'LABEL_TF' : lst_row_03})

In [226]:
row_frm = pd.concat([row_frm,row_4],axis=0)
row_frm

,REST_ID,REVIEW,LABEL_TF
0,1.713848e+09,음식도 맛있고 와인도 맛있고 무엇보다 와인 추천 부탁드리면 친절하게 잘 설명해주시고...,T
1,1.713848e+09,제주에 가면 항상 들리는 최고 애정하는곳입니다\n봉골레파스타와 양갈비스테이크 최고에요,T
2,1.713848e+09,"매우 만족합니다. 음식의 간이 좋았고, 상황에 맞는 서비스가 좋았어요. 좋은 느낌을...",T
3,1.713848e+09,분위기도 좋았고 음식도 깔끔하게 잘 나와서 좋았어요!! 직원분께서도 친절하게 설명도...,T
4,1.713848e+09,"저는 서울살고 제주는 정말 관광으로\n일년에 1,2번인데 그렇게 갈때마다\n봉플라봉...",F
...,...,...,...
17504,1.971746e+09,친절해요,F
17505,1.971746e+09,친절해요,F
17506,1.971746e+09,굿,F
17507,1.971746e+09,대화하기 좋아요,F
17508,1.971746e+09,굿,F

In [228]:
row_frm = row_frm.reset_index(drop=True)

In [287]:
row_frm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77509 entries, 0 to 77508
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REST_ID   77509 non-null  float64
 1   REVIEW    77509 non-null  object
 2   LABEL_TF  77509 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.8+ MB

In [230]:
row_group = row_frm.groupby('REST_ID')

In [232]:
group_id = list(set(row_frm.REST_ID.tolist()))
len(group_id)

881

In [234]:
group_list = []
for gp in group_id :
    gp = int(gp)
    # print(f'group_{gp}')
    globals()[f'group_{gp}'] = row_group.get_group(gp)
    group_list.append(globals()[f'group_{gp}'])

In [236]:
len(group_list)

881

In [299]:
group_list[0].REST_ID.values

array([1.81037261e+09, 1.81037261e+09, 1.81037261e+09, 1.81037261e+09,
       1.81037261e+09, 1.81037261e+09, 1.81037261e+09, 1.81037261e+09,
       1.81037261e+09, 1.81037261e+09, 1.81037261e+09, 1.81037261e+09])

In [286]:
lst = []
lst[:50]

[]

In [365]:
group_list

,REST_ID,REVIEW,LABEL_TF
11884,1.810373e+09,모카라떼 맛있네요~ 분위기 및 인테리어도 좋아요~~,T
11886,1.810373e+09,제원에 커피 맛집 발견!!! \n편안한 분위기와 건강한 디저트 까지 \n쑥 머핀 내...,T
11887,1.810373e+09,사장님이 친절해여,F
11888,1.810373e+09,책모임 하려고 커피숍 검색하다가\n아주 좋은 곳을 발견했어요.\n기분좋게 모임하고 ...,T
11889,1.810373e+09,"진짜 매장 차분하고 , 공부하기 너무 좋을 만큼 분위기있는 카페로 인정.. \n정말...",F
11890,1.810373e+09,깔끔하고 친구들이랑 수다떨기 좋이요,F
11891,1.810373e+09,쑥떡와플을 첨 접했는데 너무 맛있었어요 초코치노는 작은 사이즈에 핫초코인데 작아서 ...,T
11892,1.810373e+09,근처에 맛있는 커피집이 없었는데 생겨서 너무 좋아요.\n브런치메뉴 포장도 되구 구운...,T
11918,1.810373e+09,아포가또에 초코시럽까지 넘 맛있어요.\n커피른 잘 안 마시는 나에겐 딱\nㅠ\n별 ...,F
11919,1.810373e+09,다양한 디저트와 함께 아메리카노 좋아요!,T
11920,1.810373e+09,"간만에 만난 친구와 이야기 하러 들른 카페인데, 커피도 맛있고 디저트도 맛있고 이야...",T
11921,1.810373e+09,조용한카페,F

In [373]:
tttt = group_list

In [374]:
tttt=pd.concat(tttt,axis=0)

In [377]:
tttt.REST_ID = tttt.REST_ID.astype(int)
tttt.REST_ID

11884    1810372609
11886    1810372609
11887    1810372609
11888    1810372609
11889    1810372609
            ...
1304     1405700095
1305     1405700095
1306     1405700095
1307     1405700095
1337     1405700095
Name: REST_ID, Length: 77509, dtype: int32

In [380]:
print(tttt.query('REST_ID==30834972'))

        REST_ID                                             REVIEW LABEL_TF
40691  30834972                              돈떵이는 백돼지가 진리에요. 맛있습니다        T
40692  30834972                                             맛있어요~~        T
40696  30834972  친절하시고 초벌 다 해주셔서 좋아요 여행첫날 그냥 돌아다니다가 들어갓는데 맛있게\n...        T
40697  30834972       너무 맛나게 잘먹었습니다.\n그냥지나가다 들렀는데 맛집!!!!\n득템한기분입니다        F
40700  30834972  찐 아재감성 친근한분위기☆\n제 원픽 근고기집이 닫아서 친구집 근처 근고기 집에 왔...        T
...         ...                                                ...      ...
40818  30834972                          존맛...김치찌개도 맛있고 고기도 진짜 맛있음        T
40819  30834972                                다구워주는 도민만 가는 맛집 인정?        F
40820  30834972                                               맛있어요        T
40821  30834972                              진짜 맛있어요 ㅎㅎㅎ 고기가 부드러워요        T
42932  30834972  굳! 고기 짱맛! 9시넘어 갔더니 사람도 적어서 맘편이 먹었습니당~ 김치찌개는......        T

[107 rows x 3 columns]

In [382]:
tttt=tttt.query('REST_ID==30834972')

In [383]:
ttttlst = [tttt]

In [385]:
import re
from tqdm import tqdm
from collections import Counter

wordcloud_list = []
# pbar = tqdm(group_list[:1])
pbar = tqdm(ttttlst)
# 차원 분할, 어절 추출
def pos(copy_review) :
    split_review = copy_review.REVIEW.tolist()
    # 3차원 구조, 2차원으로 변환
    chage_space = [item for sublist in split_review for item in sublist ]
    
    # 명사와 형용사만 추출
    encoded = [word for word,shape in chage_space if shape in ['Adjective' , 'Noun'] if word not in stopwords]
    # 개수 세기
    word_counts = Counter(encoded)
    #df = pd.DataFrame.from_dict(word_counts, orient='index', columns=['COUNT'])
    df = pd.DataFrame.from_records(list(word_counts.items()), columns=['WORD', 'COUNT'])
    df = df.sort_values('COUNT' , ascending=False).reset_index(drop=True)
    return df[:10]
                          
for group_once in pbar :
    
    stopwords = [ '도', '는', '다', '의', '가', '이', '은', 
                  '한', '에', '하', '고', '을', '를', '인', '듯', 
                  '과', '와', '네', '들', '듯', '지', '임', '게', 
                  '는', '이', '했', '슴', '음', '것', '거', '로',
                  '들', '거', '곳', '분', '원', '더', '왜', '해',
                  '수', '할', '그', '함', '돈', '번', '두', '개',
                  '건', '내', '저', '만', '갈', '걸', '제', '명', 
                  '분', '또', '및', '안', '른', '때', '접', '나',
                  '인데', '이가', '했었','해서', '있다', '이다', 
                  '습니다', '했는데', '입니다' ]
    
    # 정규 표현식 수행
    copy_review = group_once.copy()
    copy_review.REVIEW = copy_review.REVIEW.str.replace(r'[^ㄱ-ㅎㅏ-ㅣ가-힣 ]','' , regex=True)
    copy_review.dropna(subset=['REVIEW'], inplace=True)
    
    if len(copy_review) == 0 :
        no_wordcloud = pd.DataFrame({'WORD':None , 'COUNT':None ,'LABEL_ATF':None , 'REST_ID':int(copy_review.REST_ID.iloc[0])})
        wordcloud_list.append(no_wordcloud)
    else : 
        # okt pos 어절 분할
        copy_review.REVIEW = copy_review.REVIEW.apply(lambda x: okt.pos(x, norm=True, stem=True))
        copy_review.dropna(subset=['REVIEW'], inplace=True)
    
        if len(copy_review) == 0 :
            no_wordcloud = pd.DataFrame({'WORD':None , 'COUNT':None ,'LABEL_ATF':None , 'REST_ID':int(copy_review.REST_ID.iloc[0])})
            wordcloud_list.append(no_wordcloud)
        else :
            T_copy_review = copy_review.query('LABEL_TF == "T"')
            F_copy_review = copy_review.query('LABEL_TF == "F"')

            word_counts = pos(copy_review) # all
            word_counts['LABEL_ATF'] = 'A'
            T_word_counts = pos(T_copy_review) # T
            T_word_counts['LABEL_ATF'] = 'T'
            F_word_counts = pos(F_copy_review) # F
            F_word_counts['LABEL_ATF'] = 'F'

    #         print(word_counts)
    #         print(T_word_counts)
    #         print(F_word_counts)

            once_wordcloud = pd.concat([word_counts , T_word_counts , F_word_counts] , axis = 0).reset_index(drop=True)
            once_wordcloud['REST_ID'] = int(copy_review.REST_ID.iloc[0])
            wordcloud_list.append(once_wordcloud)
            # print(once_wordcloud)
    #print('------------------------------------one group end------------------------------------')
pbar.close()
wordcloud_frm = pd.concat(wordcloud_list , axis=0)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.37s/it]

In [386]:
wordcloud_frm

    WORD  COUNT LABEL_ATF   REST_ID
0    맛있다     68         A  30834972
1     고기     39         A  30834972
2     좋다     24         A  30834972
3   친절하다     22         A  30834972
4      맛     18         A  30834972
5     맛집     17         A  30834972
6     진짜     14         A  30834972
7   김치찌개     13         A  30834972
8     사장     11         A  30834972
9      굿     10         A  30834972
10   맛있다     55         T  30834972
11    고기     26         T  30834972
12  친절하다     13         T  30834972
13  김치찌개     12         T  30834972
14    맛집     11         T  30834972
15    진짜      8         T  30834972
16    좋다      8         T  30834972
17    최고      7         T  30834972
18    정말      7         T  30834972
19     맛      7         T  30834972
20    좋다     16         F  30834972
21   맛있다     13         F  30834972
22    고기     13         F  30834972
23     맛     11         F  30834972
24     굿     10         F  30834972
25  친절하다      9         F  30834972
26    진짜      6         F  30834972
27    맛집      6         F  30834972
28    직원      4         F  30834972
29    사장      4         F  30834972

In [306]:
testconcat = pd.concat(wordcloud_list , axis=0)

In [317]:
testconcat

    WORD  COUNT LABEL_ATF     REST_ID
0     좋다     11         A  1810372609
1    맛있다      8         A  1810372609
2     커피      4         A  1810372609
3     카페      3         A  1810372609
4     초코      3         A  1810372609
..   ...    ...       ...         ...
25  베이커리      2         F  1887309829
26     점      2         F  1887309829
27   맛있다      2         F  1887309829
28  친절하다      2         F  1887309829
29    사장      2         F  1887309829

[90 rows x 4 columns]

In [261]:
data = [[('a','b'), ('c','d')]]
result = [item for sublist in data for item in sublist]
result

[('a', 'b'), ('c', 'd')]

In [1]:
from konlpy.tag import Okt

In [2]:
okt = Okt()

In [ ]:
# 명사와 형용사만 추출

NN_words = []
for word , pos in tok_lst_02 :
    if 'Noun' in pos :
        NN_words.append(word)
    elif 'Adjective' in pos :
        NN_words.append(word)
    else :
        pass

In [ ]:
# DataFrame으로 변환

import pandas as pd
from collections import Counter

word_counts = Counter(NN_words)

df = pd.DataFrame.from_dict(word_counts, orient='index', columns=['count'])
df.index.name = 'word'

In [322]:
row_4.to_excel('posneg_4.xlsx',index=False)

In [323]:
wordcloud_frm.to_excel('wordcloud_jejusi_yeondong.xlsx',index=False)

In [360]:
len(row_4)

17509

In [361]:
len(wordcloud_frm)

24155

In [319]:
# row4 table 


# create table

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()
cursor.execute("\
CREATE TABLE POSNEG_4 (\
    REVIEW VARCHAR(5000),\
    REST_ID NUMBER,\
    LABEL_TF VARCHAR(2)\
) TABLESPACE USR PCTFREE 10 INITRANS 2 STORAGE (MAXEXTENTS UNLIMITED) LOGGING NOPARALLEL;")

# REST_ID	REVIEW	LABEL_TF

# print(row)

cnxn.commit()
cnxn.close()

In [346]:
row_4.REVIEW[:2].tolist()

['좋아요', '피낫버터랑 쿠키앤크림 맛있어요~']

In [347]:
len(row_4)

17509

In [353]:
# row4 table 


# create table

import pyodbc
import time

def send_data_to_tibero(cursor , rev , rid , lab) :
    try : 
        cursor.execute(f"INSERT INTO POSNEG_4 VALUES('{rev}', {rid},'{lab}');")
        # 데이터 전송 확인
        affected_row = cursor.rowcount
        if affected_row > 0 :
            return True
        else :
            return False
    except :
        print('error')
        
        
DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()

max_retries = 3
retry_delay = 5  # 재시도 딜레이 (초)
tq = tqdm(zip(row_4.REST_ID.tolist() , row_4.REVIEW.tolist() , row_4.LABEL_TF.tolist()))
for rid, rev, lab in tq :
    rid = int(rid)
    
    # 데이터 전송 시도 횟수
    retry_count = 0
    while retry_count < max_retries:
        if send_data_to_tibero(cursor , rev , rid , lab) :
            break 
        else :
            print('재시도 중 : ', retry_count)
            time.sleep(retry_delay)
            retry_count += 1
            
    time.sleep(0.2)    

# print(row)

cnxn.commit()
cnxn.close()
tq.close()

575it [02:04,  4.57it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

1716it [06:28,  4.59it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

3165it [11:58,  4.58it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

3296it [12:42,  4.66it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

4155it [16:04,  4.59it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

4217it [16:32,  4.62it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

4499it [17:49,  4.58it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

5386it [21:17,  4.55it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

6112it [24:10,  4.55it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

6258it [24:57,  4.63it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

6692it [26:47,  4.59it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

6760it [27:17,  4.57it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

6935it [28:10,  4.62it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

8339it [33:30,  4.58it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

9516it [38:01,  4.67it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

10213it [40:47,  4.63it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

11275it [44:54,  4.59it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

11276it [45:09,  4.73s/it]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

11279it [45:25,  3.98s/it]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

11280it [45:40,  7.35s/it]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

12120it [48:58,  4.59it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

13052it [52:36,  4.57it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

13996it [56:18,  4.54it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

14442it [58:10,  4.55it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

15078it [1:00:44,  4.54it/s]

error
재시도 중 :  0
error
재시도 중 :  1
error
재시도 중 :  2

17509it [1:09:49,  4.18it/s]

In [356]:

import pyodbc

DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()
cursor.execute("\
CREATE TABLE WORDCLOUD_JEJUSI_YEONDONG (\
    WORD VARCHAR(50),\
    COUNT NUMBER,\
    LABEL_ATF VARCHAR(2),\
    REST_ID NUMBER\
) TABLESPACE USR PCTFREE 10 INITRANS 2 STORAGE (MAXEXTENTS UNLIMITED) LOGGING NOPARALLEL;")

# WORD	COUNT	LABEL_ATF	REST_ID

# print(row)

cnxn.commit()
cnxn.close()

In [357]:
def send_data_to_tibero(cursor , rev , rid , lab) :
    try : 
        cursor.execute(f"INSERT INTO WORDCLOUD_JEJUSI_YEONDONG(WORD , COUNT , LABEL_ATF , REST_ID) VALUES('{word}',{count},'{atf}',{rid})")
        # 데이터 전송 확인
        affected_row = cursor.rowcount
        if affected_row > 0 :
            return True
        else :
            return False
    except :
        print('error')



import pyodbc

DSNNAME = "Tibero6"
DBUSER = "JH"
DBPWD = "nare"

cnxn = pyodbc.connect('DSN='+DSNNAME+';UID='+DBUSER+';PWD='+DBPWD)
cursor = cnxn.cursor()

max_retries = 5
retry_delay = 5  # 재시도 딜레이 (초)
tq = tqdm(zip(wordcloud_frm.WORD.tolist() , wordcloud_frm.COUNT.tolist() , wordcloud_frm.LABEL_ATF.tolist() , wordcloud_frm.REST_ID.tolist()))
    
# wordcloud_frm
for word, count, atf , rid in tq :
    rid = int(rid)
    
    # 데이터 전송 시도 횟수
    retry_count = 0
    while retry_count < max_retries:
        if send_data_to_tibero(cursor , rev , rid , lab) :
            break 
        else :
            print('재시도 중 : ', retry_count)
            time.sleep(retry_delay)
            retry_count += 1

    time.sleep(0.2)


cnxn.commit()
cnxn.close()
tq.close()

24155it [1:28:08,  4.57it/s]